body
{
    color: black;
    text-align: center;
    word-spacing: normal;
    border: 5px;
    border-color: chartreuse;
    justify-content: center;
    display: flex;
    animation-name: initial;
    align-items: center;
}

img
{
    height: 150px;
    width:auto;

}

.box
{   text-align: center;
    background-color: white;
    height: fit-content;
    width: fit-content;
    padding: 50px;
    border-radius: 60px 60px 60px 60px;
    box-shadow: 5px 10px 5px;
}